.modal {
	position: fixed;
	background: #ffffff;
	height: 450px;
	width: 500px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	&__wrapper {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(147, 153, 163, 0.9);
		z-index: 3;
		top: 0;
		left: 0;
	}

	&__header {
		display: flex;
		height: 35px;
		justify-content: space-between;
	}

	&__title {
		margin: 0;
		line-height: 35px;
	}
}

.hidden {
	display: none;
}

.img__wrapper {
	background: white;
	padding: 5px;
	height: 25px;
	width: 25px;
	border-radius: 50px;

	img {
		width: 100%;
		height: auto;
	}
}

.details {
	font-size: 0.85rem;
	border-collapse: collapse;
	width: 100%;

	td {
		padding: 5px 10px;
		border: 1px solid #dddddd;
	}

	&__committees-list {
		list-style: circle;
		padding-left: 15px;
	}

	&__label {
		font-weight: 900;
	}

	&__chart--party {
		display: flex;
	}
}

.d3-container {
	height: 100px;
	width: auto;
	padding: 10px;
}

#donutChart {
	height: 100%;
	width: auto;
}
