@import "styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");

.member-card {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 10px;
	padding: 15px 10px;
	width: 160px;
	height: 235px;
	background: #fff;
	border: 3px solid;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	&--D {
		border-color: $blue63;
	}

	&--R {
		border-color: $brickRed71;
	}

	&__image-wrapper {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		background-image: url("https://image.flaticon.com/icons/svg/760/760039.svg");
	}

	&__image {
		width: 100%;
		height: auto;
		color: rgba(0, 0, 0, 0);
	}
}

.member-name {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	flex: 1;

	&__first,
	&__last {
		margin: 0;
	}

	&__first {
		font-style: italic;
		margin-left: 5px;
		font-family: "Lato", sans-serif;
		font-size: 0.75rem;
		text-transform: uppercase;
		color: $slate30;
	}

	&__last {
		font-family: "Bebas Neue", cursive;
		font-size: 1.7rem;
		white-space: nowrap;
		font-style: italic;
	}
	&__subtitle {
		margin: 0;
		font-size: 0.75rem;
		color: $slate30;
		margin: auto 0;
	}
}

.wrapper {
	position: relative;
}
