@import "styles/index.scss";

.modal {
	position: fixed;
	background: #ffffff;
	min-height: 450px;
	max-height: 90vh;
	overflow: auto;
	width: 500px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__wrapper {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(147, 153, 163, 0.9);
		z-index: 3;
		top: 0;
		left: 0;
	}

	&__content {
		padding: 0 15px;
		padding-bottom: 15px;
		max-height: calc(100% - 35px);
	}

	&__header {
		display: flex;
		position: sticky;
		background: #ffffff;
		padding: 10px 0;
		top: 0;
		justify-content: space-between;
	}

	&__title {
		margin: 0;
		line-height: 35px;
	}

	&__close-button {
		margin: 5px;
	}

	@media only screen and (max-width: 600px) {
		width: 100vw;
		height: 95vh;
	}
}

.hidden {
	display: none;
}

.img__wrapper {
	background: white;
	padding: 5px;
	height: 25px;
	width: 25px;
	border-radius: 50px;

	img {
		width: 100%;
		height: auto;
	}
}

.details {
	font-size: 0.85rem;
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;

	td {
		padding: 5px 10px;
		border: 1px solid #dddddd;
	}

	&__committees-list {
		list-style: circle;
		padding-left: 15px;
	}

	&__label {
		font-weight: 900;
	}

	&__chart--party {
		display: flex;
	}

	&__icon {
		height: 40px;
		margin: 5px;
	}
}

.d3-container {
	height: 100px;
	width: auto;
	padding: 10px;
}

#donutChart {
	height: 100%;
	width: auto;
	transform: rotate(180deg);
}
