@import "styles/colors.scss";

.card {
	max-width: 350px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 50px auto;
	background: white;

	&__date {
		font-size: 14px;
		margin: 0;
		text-transform: uppercase;
		color: $slate30;
		font-weight: bold;
	}
}
