@import "styles/colors.scss";
@import "styles/index.scss";

.members-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;

	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__header {
		padding: 0 15px;

		@media only screen and (max-width: 600px) {
			text-align: center;
			font-size: 0.9rem;
		}
	}

	&__tabs {
		padding: 0 15px;
		display: flex;
		align-items: center;

		&--button-container {
			display: flex;
		}

		@media only screen and (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__tab {
		font-size: 20px;
		border-radius: 20px;
		padding: 5px 10px;

		&:first-of-type {
			margin-right: 20px;
		}

		&--active {
			background: $slate27;
			color: #ffffff;
		}
	}

	&__sort-dropdown {
		margin-left: 50px;

		select {
			font-size: 15px;
			border-radius: 20px;
			padding: 5px 15px;
		}

		@media only screen and (max-width: 600px) {
			margin-left: 0;
			align-items: flex-start;
			margin-top: 15px;
		}
	}
}
